#imagesGear,
#shopByWorkoutImages {
  display: flex;
  justify-content: center;
}

#shopByWorkoutImages {
  margin-left: -45px;
}

.shopByWorkoutImage {
  padding: 7.5px;
}

.imageGear {
  height: 192px;
  width: 201px;
}

#shopByWorkout {
  font-size: 22px;
  margin-left: 75px;
  font-weight: 600;
}

.shopByWorkoutImage {
  width: 292px;
  height: 385px;
}

#shopByCategory {
  font-size: 22px;
  margin-left: 75px;
  font-weight: 600;
}

.categoryImage {
  height: 241px;
  width: 231;
}

#shopByCategoryImages {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.shopByCategoryImage {
  margin-left: 30px;
  height: 221px;
  width: 231px;
}

#spotlight {
  font-size: 22px;
  margin-left: 75px;
  font-weight: 600;
}

#spotlightImages {
  display: flex;
  margin-left: 70px;
}

.spotlightImage {
  width: 602p×;
  height: 335px;
}
